@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilos para la barra desplazadora en chatCard component */

.simplebar-scrollbar {
  background-color: #ffffff;
  width: 100% !important;
  scrollbar-width: thin; /* 'auto' o 'thin' */
  scrollbar-color: #888 #ffffff; /* Color de la barra y del track */
}

/* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
.simplebar-scrollbar::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

.simplebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Radio del borde para la barra de desplazamiento */
}

.simplebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: red; /* Color de la barra de desplazamiento en hover */
}

/* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
.chat-list::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

.chat-list::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Radio del borde para la barra de desplazamiento */
}

.chat-list::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color de la barra de desplazamiento en hover */
}

/* Para Firefox */
.chat-list {
  scrollbar-width: thin; /* 'auto' o 'thin' */
  scrollbar-color: blue #ffffff; /* Color de la barra y del track */
}
